@model Subsogator.Web.Models.FilmProductions.BindingModels.EditFilmProductionBindingModel

@{
    ViewData["Title"] = "Edit Film Production";
}

<h3>@ViewData["Title"]</h3>

<h4>Film Production</h4>
<hr />
@if (TempData["FilmProductionErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["FilmProductionErrorMessage"]
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlotSummary" class="control-label"></label>
                <input asp-for="PlotSummary" class="form-control" />
                <span asp-validation-for="PlotSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Country</label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryByName"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Language</label>
                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageByName"></select>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
