@model Subsogator.Web.Models.Subtitles.BindingModels.CreateSubtitlesBindingModel

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["SubtitlesErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["SubtitlesErrorMessage"]
    </div>
}
<h4>Subtitles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Film Production</label>
                <select asp-for="FilmProductionId" class="form-control" asp-items="ViewBag.FilmProductionByTitle"></select>
            </div>
            <div class="form-group">
                <label class="col-form-label">Select Multiple Files</label>
                <input asp-for="Files" type="file" accept=".srt" class="form-control" multiple />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
